<p id="notice"><%= notice %></p>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= render 'products/banner' %>

<h1>Products</h1>

	<% @products.each do |product| %>
	<a href="/products/<%= product.id %>">

		<div class="card shadow-sm">
			  <%= image_tag product_img(product.thumb_image_url, 'thumb') %>
			<div class="card-body">
				<p class="card-text">
					<h3><%= product.title %></h3>
					<p>price: $<%= product.price %></p>
				</p>
			</div>
		</div>
	</a>
	<% end %>