<div class="container margin-top">
	<div class="row">
		<div class="col-12 col-sm-7 col-md-7">
			<%= render 'shared/product_banner' %>
		</div>

		<div class="col-12 col-sm-4 col-md-4">
			<h1><%= @product.title %></h1>

			<hr>

			<p><%= @product.description %></p><br>

			<p>Price: $<%=  @product.price %></p>

			<%= link_to 'Back', products_path %>


		</div>

	</div>
</div>