<div class="product">
	<div class="container margin-top">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-6">
			<%= render 'shared/product_banner' %>
		</div>

		<div class="col-12 col-sm-5 col-md-5">
			<h1><%= @product.title %></h1>

			<hr>

			<p><%= @product.description %></p><br>

			<p>Price: $<%=  @product.price %></p>
		        <%= link_to 'Add to Cart', pages_cart_path, class: "btn btn-lg btn-primary center" %>
                <%= link_to 'Buy Now', pages_cart_path, class: "btn btn-lg btn-primary center" %>                <hr>
                <%= link_to 'Back', products_path %>


		</div>

	</div>
</div>
</div>